img {
  width: 60%;
}

.mtxl {
  margin-top: 75px;
}

.mtm {
  margin-top: 50px;
}

.mts {
  margin-top: 25px;
}

.mbxl {
  margin-bottom: 75px;
}

#image {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.imageResults {
  border-radius: 10px;
  border: solid #5bc0de 4px;
  float: right;
  margin-right: 40px;
}
